<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="autor" content="//STDKIT">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
  <link rel="manifest" href="img/favicon/site.webmanifest">
  <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="theme-color" content="#ffffff">
  <title><%= data.title %></title>
</head>

<body>

  <!-- Прелоадер -->

  <div class="flex flex-col items-center justify-center fixed z-10 inset-0 bg-white duration-5" data-preloader>
    <div class="flex items-center">
      <img class="icon text-6xl" src="img/pictures/logo.svg" alt="">
      <img class="w-36 ml-3" src="img/pictures/logo-text.svg" alt="">
    </div>
  </div>

  <!-- Шапка документа -->

  <header class="header container flex items-center justify-between gap-5 sticky xl:relative z-4 top-0 left-0 right-0 bg-white border-b border-solid border-grey py-3 xl:py-5 duration-3" data-header>
    <button class="btn btn-primary xl:hidden text-38 sm:text-48" data-sidebar-open="menu" data-waved="light">
      <svg class="icon">
        <use xlink:href="img/icons.svg#burger">
      </svg>
    </button>
    <a class="header__btn btn" data-waved="light" href="#">
      <img class="header__logo icon text-40 sm:text-6xl" src="img/pictures/logo.svg" alt="">
      <img class="hidden md:block w-36 ml-3" src="img/pictures/logo-text.svg" alt="">
    </a>
    <div class="hidden xl:flex items-center justify-between gap-10">
      <div class="flex items-center">
        <div class="header__square flex items-center justify-center bg-primary rounded-2 w-8 h-8 mr-3">
          <svg class="icon text-white text-20">
            <use xlink:href="img/icons.svg#geo">
          </svg>
        </div>
        <div class="flex flex-col">
          <span class="font-normal text-16 leading-1 opacity-60 mb-1">Адрес</span>
          <span class="font-semibold text-16 leading-1">ул. Минская 122/9</span>
        </div>
      </div>
      <div class="flex items-center">
        <div class="header__square flex items-center justify-center bg-primary rounded-2 w-8 h-8 mr-3">
          <svg class="icon text-white text-20">
            <use xlink:href="img/icons.svg#clock">
          </svg>
        </div>
        <div class="flex flex-col">
          <span class="font-normal text-16 leading-1 opacity-60 mb-1">Режим работы</span>
          <span class="font-semibold text-16 leading-1">с 8:00 до 20:00</span>
        </div>
      </div>
      <div class="flex items-center">
        <div class="header__square flex items-center justify-center bg-primary rounded-2 w-8 h-8 mr-3">
          <svg class="icon text-white text-20">
            <use xlink:href="img/icons.svg#tel">
          </svg>
        </div>
        <div class="flex flex-col">
          <span class="font-normal text-16 leading-1 opacity-60 mb-1">Телефон</span>
          <a class="btn btn-primary text-black" data-waved="light" href="tel: +7(928)210-90-60">+7(928)210-90-60</a>
        </div>
      </div>
    </div>
    <button class="btn btn-primary btn-md sm:btn-lg btn-contur btn-swipe text-black" data-waved="light" data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-feedback.html">
      <span class="hidden sm:block">Записаться на консультацию</span>
      <span class="sm:hidden">Консультация</span>
    </button>
  </header>

  <!-- Навигация -->

  <% var nav = [
    {
      id: '#price',
      text: 'Цены на услуги'
    },
    {
      id: '#warranty',
      text: 'Гарантии'
    },
    {
      id: '#result',
      text: 'Результаты'
    },
    {
      id: '#stages',
      text: 'Этапы лечения'
    },
    {
      id: '#opportunities',
      text: 'Наши возможности'
    },
    {
      id: '#contacts',
      text: 'Контакты'
    }
  ] %>

  <nav class="nav container hidden xl:flex items-center justify-between sticky z-3 top-0 left-0 right-0 bg-white py-3">
    <% for (var i = 0; i < nav.length; i++) { %>
    <a class="nav__item btn btn-primary font-medium text-black rounded-1 p-1" data-scroll data-waved="light" href="<%= nav[i].id %>"><%= nav[i].text %></a>
    <% } %>
  </nav>

  <!-- Меню -->

  <div class="menu fixed inset-0 z-6 duration-1" data-sidebar="close" data-sidebar-resize="xl" id="menu">
    <div class="menu__content flex flex-col bg-white bg-opacity-90 overflow-auto backdrop-blur-sm w-full max-w-[375px] h-full duration-3">
      <div class="menu__head flex items-center border-b border-solid border-grey p-4 duration-5 delay-3">
        <button class="btn btn-primary text-24 p-1 mr-10" data-sidebar-close="menu" data-waved="light">
          <svg class="icon">
            <use xlink:href="img/icons.svg#close">
          </svg>
        </button>
        <a class="btn" data-waved="light" href="#">
          <img class="icon text-40" src="img/pictures/logo.svg" alt="">
          <img class="w-24 ml-3" src="img/pictures/logo-text.svg" alt="">
        </a>
      </div>
      <div class="menu__nav border-b border-solid border-grey p-4 duration-9 delay-5">
        <div class="flex flex-col items-start gap-4 mb-5">
          <% for (var i = 0; i < nav.length; i++) { %>
          <a class="btn btn-primary font-normal text-black text-20" data-scroll data-waved="light" href="<%= nav[i].id %>"><%= nav[i].text %></a>
          <% } %>
        </div>
        <button class="btn btn-primary btn-md btn-fill" data-waved="light" data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-feedback.html">Записаться на консультацию</button>
      </div>
      <div class="menu__footer mt-auto px-4 pt-4 pb-10 duration-5 delay-9">
        <div class="flex flex-col gap-5 mb-10">
          <div class="flex items-center">
            <div class="flex items-center justify-center bg-primary rounded-2 w-8 h-8 mr-3">
              <svg class="icon text-white text-20">
                <use xlink:href="img/icons.svg#geo">
              </svg>
            </div>
            <div class="flex flex-col">
              <span class="font-normal text-16 leading-1 opacity-60 mb-1">Адрес</span>
              <span class="font-semibold text-16 leading-1">ул. Минская 122/9</span>
            </div>
          </div>
          <div class="flex items-center">
            <div class="flex items-center justify-center bg-primary rounded-2 w-8 h-8 mr-3">
              <svg class="icon text-white text-20">
                <use xlink:href="img/icons.svg#clock">
              </svg>
            </div>
            <div class="flex flex-col">
              <span class="font-normal text-16 leading-1 opacity-60 mb-1">Режим работы</span>
              <span class="font-semibold text-16 leading-1">с 8:00 до 20:00</span>
            </div>
          </div>
          <div class="flex items-center">
            <div class="flex items-center justify-center bg-primary rounded-2 w-8 h-8 mr-3">
              <svg class="icon text-white text-20">
                <use xlink:href="img/icons.svg#tel">
              </svg>
            </div>
            <div class="flex flex-col">
              <span class="font-normal text-16 leading-1 opacity-60 mb-1">Телефон</span>
              <a class="btn btn-primary text-black" data-waved="light" href="tel: +7(928)210-90-60">+7(928)210-90-60</a>
            </div>
          </div>
        </div>
        <div class="flex items-center gap-4">
          <% for (var i = 0; i < social.length; i++) { %>
          <a class="btn btn-primary rounded-1" href="" target="_blank">
            <img class="icon text-38" src="<%= social[i] %>" alt="">
          </a>
          <% } %>
        </div>
      </div>
    </div>
  </div>