// Tilda Sans
@font-face {
  font-family: "Tilda Sans Extra";
  font-weight: bold;
  font-style : normal;
  src        : url("../fonts/TildaSans/TildaSans-ExtraBold.eot");
  src        : local("Tilda Sans Extra Bold"), local("TildaSans-ExtraBold"),
    url("../fonts/TildaSans/TildaSans-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TildaSans/TildaSans-ExtraBold.woff2") format("woff2"),
    url("../fonts/TildaSans/TildaSans-ExtraBold.woff") format("woff"),
    url("../fonts/TildaSans/TildaSans-ExtraBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Tilda Sans VF";
  font-weight: normal;
  font-style : normal;
  src        : url("../fonts/TildaSans/TildaSansVF.eot");
  src        : local("Tilda Sans VF"), local("TildaSansVF"),
    url("../fonts/TildaSans/TildaSansVF.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TildaSans/TildaSansVF.woff2") format("woff2"),
    url("../fonts/TildaSans/TildaSansVF.woff") format("woff"),
    url("../fonts/TildaSans/TildaSansVF.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Tilda Sans";
  font-weight: 500;
  font-style : normal;
  src        : url("../fonts/TildaSans/TildaSans-Medium.eot");
  src        : local("Tilda Sans Medium"), local("TildaSans-Medium"),
    url("../fonts/TildaSans/TildaSans-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TildaSans/TildaSans-Medium.woff2") format("woff2"),
    url("../fonts/TildaSans/TildaSans-Medium.woff") format("woff"),
    url("../fonts/TildaSans/TildaSans-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Tilda Sans";
  font-weight: bold;
  font-style : normal;
  src        : url("../fonts/TildaSans/TildaSans-Bold.eot");
  src        : local("Tilda Sans Bold"), local("TildaSans-Bold"),
    url("../fonts/TildaSans/TildaSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TildaSans/TildaSans-Bold.woff2") format("woff2"),
    url("../fonts/TildaSans/TildaSans-Bold.woff") format("woff"),
    url("../fonts/TildaSans/TildaSans-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Tilda Sans";
  font-weight: 300;
  font-style : normal;
  src        : url("../fonts/TildaSans/TildaSans-Light.eot");
  src        : local("Tilda Sans Light"), local("TildaSans-Light"),
    url("../fonts/TildaSans/TildaSans-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TildaSans/TildaSans-Light.woff2") format("woff2"),
    url("../fonts/TildaSans/TildaSans-Light.woff") format("woff"),
    url("../fonts/TildaSans/TildaSans-Light.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Tilda Sans";
  font-weight: 900;
  font-style : normal;
  src        : url("../fonts/TildaSans/TildaSans-Black.eot");
  src        : local("Tilda Sans Black"), local("TildaSans-Black"),
    url("../fonts/TildaSans/TildaSans-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TildaSans/TildaSans-Black.woff2") format("woff2"),
    url("../fonts/TildaSans/TildaSans-Black.woff") format("woff"),
    url("../fonts/TildaSans/TildaSans-Black.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Tilda Sans";
  font-weight: normal;
  font-style : normal;
  src        : url("../fonts/TildaSans/TildaSans-Regular.eot");
  src        : local("Tilda Sans"), local("TildaSans-Regular"),
    url("../fonts/TildaSans/TildaSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TildaSans/TildaSans-Regular.woff2") format("woff2"),
    url("../fonts/TildaSans/TildaSans-Regular.woff") format("woff"),
    url("../fonts/TildaSans/TildaSans-Regular.ttf") format("truetype");
  font-display: swap;
}