<%
  var data = {

    title: 'Центр профессиональной стоматологии',
    status: true

  }

  var social = ['img/pictures/wa.svg', 'img/pictures/inst.svg']
%>

<%= _.template(require('./includes/header.html').default)({data, social}) %>

<!-- Главный блок -->

<% var main = [
  {
    delay: 'md:delay-4',
    text: 'Не более 20 минут на один имплант'
  },
  {
    delay: 'md:delay-6',
    text: 'Точная 3D-диагностика'
  },
  {
    delay: 'md:delay-8',
    text: 'Без боли и костной пластики'
  }
] %>

<main class="main container lg:flex lg:items-center relative bg-second bg-opacity-20 overflow-hidden lg:min-h-[750px] xl:py-0">
  <picture>
    <source srcset="img/pictures/christmas-tree.webp" type="image/webp">
    <img class="main__tree hidden absolute bottom-0 right-0 xl:right-[10%] xxl:right-[20%] w-full max-w-[820px]" src="img/pictures/christmas-tree.png" alt="">
  </picture>
  <div class="main-images hidden xl:block absolute top-0 bottom-0 xxl:left-1/2 right-[23%] w-full max-w-[540px] h-full">
    <div class="swiper h-full">
      <div class="swiper-wrapper">
        <% for (var i = 0; i < 4; i++) { %>
        <div class="main-images-slide swiper-slide pack h-full">
          <picture>
            <source srcset="img/pictures/main.webp" type="image/webp">
            <img class="image image-scale-down" src="img/pictures/main.png" alt="">
          </picture>
        </div>
        <% } %>
      </div>
    </div>
  </div>
  <div class="flex flex-col relative z-1 w-full lg:max-w-[600px] mb-7 md:mb-0">
    <h1 class="font-bold text-primary text-38 sm:text-42 lg:text-6xl leading-2 mb-4 duration-5 ease-in-out anim anim--up" data-anim="hidden">Имплантация зубов <br> в Краснодаре</h1>
    <div class="flex flex-col w-full md:max-w-[410px] mb-9">
      <p class="font-normal text-18 leading-3 opacity-70 mb-6 lg:mb-12 duration-5 delay-1 ease-in-out anim anim--up" data-anim="hidden">Восстановим жевательную функцию и эстетическую улыбку</p>
      <div class="flex items-center mb-4 sm:mb-8 duration-5 delay-2 ease-in-out anim anim--up" data-anim="hidden">
        <img class="icon text-38 sm:text-46 mr-2 sm:mr-4" src="img/pictures/tooth.svg" alt="">
        <h3 class="font-bold text-16 sm:text-18 lg:text-20 leading-2">Получите бесплатную консультацию и подробный план лечения</h3>
      </div>
      <form class="form xs:flex-row xs:items-center xs:justify-between gap-5 xs:gap-3 mb-4 duration-5 delay-3 ease-in-out anim anim--up" data-form="submit" data-anim="hidden">
        <input type="hidden" value="Получите бесплатную консультацию и подробный план лечения" name="theme">
        <label class="form-label w-full" data-label="input">
          <div class="form-wrapper">
            <div class="input-cover">
              <input class="input input-gray input-lg" data-input="tel" type="tel" placeholder="+7 (_ _ _) _ _ _ - _ _ - _ _" name="tel">
            </div>
            <span class="form-error" data-error>Пожалуйста, введите ваш номер!</span>
          </div>
        </label>
        <button class="btn btn-primary btn-lg btn-fill" data-waved="light" type="submit">Отправить</button>
      </form>
      <div class="font-normal text-12 sm:text-14 leading-3 cursor-pointer xs:w-max duration-5 delay-3 ease-in-out anim anim--up" data-anim="hidden" data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-politics.html">
        <span class="opacity-60">Отправляя форму, вы даете свое <br> согласие</span> <span class="underline underline-offset-4">на обработку персональных данных</span>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <% for (var i = 0; i < main.length; i++) { %>
      <div class="duration-5 <%= main[i].delay %> ease-in-out anim anim--up" data-anim="hidden">
        <div class="card h-full p-4" data-waved="dark">
          <div class="card-content flex-row items-center md:items-start">
            <span class="bg-primary rounded-max w-2 min-w-[8px] h-2 md:mt-1 mr-3"></span>
            <p class="font-medium text-16 leading-3"><%= main[i].text %></p>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <div class="main-slider relative md:absolute z-1 md:top-10 lg:top-0 xxl:top-auto lg:bottom-0 xxl:bottom-20 xl:left-2/3 xxl:left-2/3 md:right-10 xxl:-translate-x-1/2 w-full md:max-w-[280px] lg:max-w-[320px] lg:h-max lg:my-auto mx-auto md:mx-0">
    <div class="swiper h-full">
      <div class="swiper-wrapper">
        <% for (var i = 0; i < 4; i++) { %>
        <div class="swiper-slide h-auto">
          <div class="card card--active bg-white bg-opacity-50 backdrop-blur-xl rounded-6 border-none h-full py-5 sm:py-7 lg:py-12 px-4 sm:px-6 lg:px-8">
            <div class="card-content items-center justify-center text-center h-full">
              <img class="icon text-6xl mb-5 lg:mb-8" src="img/pictures/logo.svg" alt="">
              <h4 class="font-semibold text-20 lg:text-24 leading-2 mb-2 sm:mb-4">Трофимов Андрей Евгеньевич</h4>
              <p class="font-normal text-16 leading-2 mb-6">Главврач, стоматолог-имплантолог <br> Опыт работы: 15 лет</p>
              <div class="pack pack-box w-24 sm:w-28">
                <div class="absolute inset-0">
                  <img class="main__image block w-full" src="img/pictures/player-text.svg" alt="">
                </div>
                <div class="flex items-center justify-center absolute inset-0">
                  <button class="btn btn-black btn-fill rounded-max w-14 sm:w-[72px] h-14 sm:h-[72px]" data-waved="light">
                    <svg class="icon text-36 sm:text-42">
                      <use xlink:href="img/icons.svg#play">
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
    <div class="swiper-pagination md:hidden text-black mt-8"></div>
    <button class="swiper-button-prev btn btn-white btn-fill hover:bg-grey text-black hidden md:flex absolute -left-6 rounded-max shadow-md w-12 h-12" data-waved="dark">
      <svg class="icon">
        <use xlink:href="img/icons.svg#arrow-left">
      </svg>
    </button>
    <button class="swiper-button-next btn btn-white btn-fill hover:bg-grey text-black hidden md:flex absolute -right-6 rounded-max shadow-md w-12 h-12" data-waved="dark">
      <svg class="icon">
        <use xlink:href="img/icons.svg#arrow-right">
      </svg>
    </button>
  </div>
</main>

<!-- Квиз -->

<section class="quiz container overflow-hidden">
  <h2 class="font-bold text-34 sm:text-42 leading-2 mb-6 md:mb-10 duration-5 ease-in-out anim anim--up" data-anim="hidden">Ответьте на несколько простых вопросов</h2>
  <form class="form duration-5 ease-in-out anim anim--up" data-form="quiz" data-anim="hidden">
    <input type="hidden" value="Квиз" name="theme">
    <div class="card rounded-3 sm:rounded-6 overflow-visible p-5 md:p-8 xl:p-4">
      <div class="card-content flex-row items-center justify-between gap-10">
        <div class="w-full lg:max-w-[380px] xl:max-w-[520px] xl:pl-6">
          <div class="hidden flex-col items-center justify-center" data-form-submit>
            <svg class="lg:hidden text-primary icon text-[16rem]">
              <use xlink:href="img/icons.svg#success">
            </svg>
            <h3 class="font-bold text-center lg:text-left text-20 xl:text-24 leading-2">
              Спасибо, данные успешно отправлены. <br> Мы перезвоним вам в течение 30 минут!
            </h3>
          </div>
          <div data-form-quiz>
            <p class="font-normal text-16 xl:text-18 leading-2 mb-4">Получите бесплатный расчет по вашей клинической ситуации</p>
            <div class="quiz-slider flex flex-col" data-quiz="stop">
              <div class="swiper w-full xl:max-w-[420px] mx-0">
                <div class="swiper-wrapper">
                  <div class="swiper-slide h-full" data-quiz-slide>
                    <h3 class="font-semibold text-20 xl:text-24 leading-2 mb-6 xl:mb-8">Для выбора оптимальной программы нам необходимо знать ваш возраст</h3>
                    <div class="flex flex-col gap-2">
                      <label class="flex items-center relative bg-grey bg-opacity-80 rounded-3 cursor-pointer px-4 h-14" data-waved="dark">
                        <input class="quiz__switch switch switch--radio mr-3" type="radio" value="30-45 лет" name="age">
                        <span class="quiz__text font-normal text-16 leading-1 pointer-events-none">30-45 лет</span>
                      </label>
                      <label class="flex items-center relative bg-grey bg-opacity-80 rounded-3 cursor-pointer px-4 h-14" data-waved="dark">
                        <input class="quiz__switch switch switch--radio mr-3" type="radio" value="46-55 лет" name="age">
                        <span class="quiz__text font-normal text-16 leading-1 pointer-events-none">46-55 лет</span>
                      </label>
                      <label class="flex items-center relative bg-grey bg-opacity-80 rounded-3 cursor-pointer px-4 h-14" data-waved="dark">
                        <input class="quiz__switch switch switch--radio mr-3" type="radio" value="56-65 лет" name="age">
                        <span class="quiz__text font-normal text-16 leading-1 pointer-events-none">56-65 лет</span>
                      </label>
                      <label class="flex items-center relative bg-grey bg-opacity-80 rounded-3 cursor-pointer px-4 h-14" data-waved="dark">
                        <input class="quiz__switch switch switch--radio mr-3" type="radio" value="66 и старше" name="age">
                        <span class="quiz__text font-normal text-16 leading-1 pointer-events-none">66 и старше</span>
                      </label>
                    </div>
                  </div>
                  <div class="swiper-slide h-full" data-quiz-slide>
                    <h3 class="font-semibold text-20 xl:text-24 leading-2 mb-6 xl:mb-8">Сколько зубов необходимо восстановить?</h3>
                    <div class="flex flex-col gap-2">
                      <label class="flex items-center relative bg-grey bg-opacity-80 rounded-3 cursor-pointer px-4 h-14" data-waved="dark">
                        <input class="quiz__switch switch switch--radio mr-3" type="radio" value="1 зуб" name="quantity-teeth">
                        <span class="quiz__text font-normal text-16 leading-1 pointer-events-none">1 зуб</span>
                      </label>
                      <label class="flex items-center relative bg-grey bg-opacity-80 rounded-3 cursor-pointer px-4 h-14" data-waved="dark">
                        <input class="quiz__switch switch switch--radio mr-3" type="radio" value="2 зуба" name="quantity-teeth">
                        <span class="quiz__text font-normal text-16 leading-1 pointer-events-none">2 зуба</span>
                      </label>
                      <label class="flex items-center relative bg-grey bg-opacity-80 rounded-3 cursor-pointer px-4 h-14" data-waved="dark">
                        <input class="quiz__switch switch switch--radio mr-3" type="radio" value="3 зуба" name="quantity-teeth">
                        <span class="quiz__text font-normal text-16 leading-1 pointer-events-none">3 зуба</span>
                      </label>
                      <label class="flex items-center relative bg-grey bg-opacity-80 rounded-3 cursor-pointer px-4 h-14" data-waved="dark">
                        <input class="quiz__switch switch switch--radio mr-3" type="radio" value="4 и более" name="quantity-teeth">
                        <span class="quiz__text font-normal text-16 leading-1 pointer-events-none">4 и более</span>
                      </label>
                    </div>
                  </div>
                  <div class="swiper-slide h-full" data-quiz-slide>
                    <h3 class="font-semibold text-20 xl:text-24 leading-2 mb-6 xl:mb-8">Какие зубы необходимо восстановить?</h3>
                    <div class="flex flex-col gap-2">
                      <label class="flex items-center relative bg-grey bg-opacity-80 rounded-3 cursor-pointer px-4 h-14" data-waved="dark">
                        <input class="quiz__switch switch switch--radio mr-3" type="radio" value="Передние" name="teeth">
                        <span class="quiz__text font-normal text-16 leading-1 pointer-events-none">Передние</span>
                      </label>
                      <label class="flex items-center relative bg-grey bg-opacity-80 rounded-3 cursor-pointer px-4 h-14" data-waved="dark">
                        <input class="quiz__switch switch switch--radio mr-3" type="radio" value="Жевательные" name="teeth">
                        <span class="quiz__text font-normal text-16 leading-1 pointer-events-none">Жевательные</span>
                      </label>
                      <label class="flex items-center relative bg-grey bg-opacity-80 rounded-3 cursor-pointer px-4 h-14" data-waved="dark">
                        <input class="quiz__switch switch switch--radio mr-3" type="radio" value="И те и другие" name="teeth">
                        <span class="quiz__text font-normal text-16 leading-1 pointer-events-none">И те и другие</span>
                      </label>
                    </div>
                  </div>
                  <div class="swiper-slide h-full" data-quiz-slide>
                    <h3 class="font-semibold text-20 xl:text-24 leading-2 mb-6 xl:mb-8">Когда вам удобно прийти на консультацию?</h3>
                    <label class="form-label mb-5" data-label="input">
                      <div class="form-wrapper">
                        <div class="input-cover">
                          <input class="input input-grey input-lg bg-grey pl-12" data-input="calendar" type="text" placeholder="_ _ . _ _ . _ _ _" name="calendar">
                        </div>
                        <div class="form-icon form-icon--left text-24 opacity-20">
                          <svg class="icon">
                            <use xlink:href="img/icons.svg#calendar">
                          </svg>
                        </div>
                        <span class="form-error" data-error>Пожалуйста, укажите дату!</span>
                      </div>
                    </label>
                  </div>
                  <div class="swiper-slide h-full" data-quiz-slide>
                    <h3 class="font-semibold text-20 xl:text-24 leading-2 mb-6 xl:mb-8">Оставьте свои контакты, чтобы мы могли связаться с вами</h3>
                    <label class="form-label mb-5" data-label="input">
                      <div class="form-wrapper">
                        <div class="input-cover">
                          <input class="input input-grey input-lg bg-grey pl-12" data-input="name" type="text" placeholder="Введите имя" name="name">
                        </div>
                        <div class="form-icon form-icon--left text-24 opacity-20">
                          <svg class="icon">
                            <use xlink:href="img/icons.svg#user">
                          </svg>
                        </div>
                        <span class="form-error" data-error>Пожалуйста, введите ваше имя!</span>
                      </div>
                    </label>
                    <label class="form-label mb-5" data-label="input">
                      <div class="form-wrapper">
                        <div class="input-cover">
                          <input class="input input-grey input-lg bg-grey pl-12" data-input="tel" type="tel" placeholder="+7 (_ _ _) _ _ _ - _ _ - _ _" name="tel">
                        </div>
                        <div class="form-icon form-icon--left text-24 opacity-20">
                          <svg class="icon">
                            <use xlink:href="img/icons.svg#tel">
                          </svg>
                        </div>
                        <span class="form-error" data-error>Пожалуйста, введите ваш номер!</span>
                      </div>
                    </label>
                  </div>
                </div>
              </div>
              <div class="mt-5 md:mt-10">
                <div class="quiz-slider-btns flex items-center gap-2 xs:gap-4">
                  <button class="swiper-button-prev btn btn-gray btn-lg btn-contur btn-light inset-0 text-black w-auto mt-0" data-waved="dark">
                    <svg class="icon hidden xs:block text-12 mr-2">
                      <use xlink:href="img/icons.svg#arrow-left">
                    </svg>
                    Назад
                  </button>
                  <button class="swiper-button-next btn btn-primary btn-lg btn-fill inset-0 w-auto mt-0" data-waved="light">
                    Следующий
                    <svg class="icon hidden xs:block text-12 ml-2">
                      <use xlink:href="img/icons.svg#arrow-right">
                    </svg>
                  </button>
                </div>
                <div class="quiz-slider-submit hidden flex-col xl:flex-row xl:items-center gap-4 xl:gap-6">
                  <button class="btn btn-primary btn-lg btn-fill" data-waved="light" type="submit">Отправить</button>
                  <div class="font-normal text-12 sm:text-14 leading-3 cursor-pointer xs:w-max" data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-politics.html">
                    <span class="opacity-60">Отправляя форму, вы даете свое <br> согласие</span> <span class="underline underline-offset-4">на обработку персональных данных</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pack pack-box xl:pack-[95] hidden lg:block bg-second bg-opacity-20 rounded-3 sm:rounded-6 border border-solid border-grey overflow-visible pointer-events-none w-full max-w-[550px]">
          <div class="hidden items-center justify-center absolute inset-0" data-form-success>
            <svg class="text-primary icon text-[19rem]">
              <use xlink:href="img/icons.svg#success">
            </svg>
          </div>
          <picture>
            <source srcset="img/pictures/woman.webp" type="image/webp">
            <img class="absolute bottom-0 right-0 min-w-[580px] xl:min-w-[780px]" data-form-image loading="lazy" src="img/pictures/woman.png" alt="">
          </picture>
        </div>
      </div>
    </div>
  </form>
</section>

<!-- Цены -->

<section class="price container bg-white overflow-hidden" id="price">
  <h2 class="font-bold text-34 sm:text-42 leading-2 mb-6 md:mb-10 duration-5 ease-in-out anim anim--up" data-anim="hidden">Имплантационные системы и цены</h2>
  <div class="duration-5 ease-in-out anim anim--right" data-filter data-anim="hidden">
    <div class="card rounded-3 sm:rounded-6 border-none py-6 sm:py-8 lg:py-12 px-4 sm:px-6 lg:px-12">
      <div class="pack pack-sheet hidden lg:block absolute bottom-0 right-0 opacity-40 xl:opacity-100 w-full max-w-[600px]">
        <div class="loader">
          <span class="loader-progress">
            <svg class="loader-icon icon">
              <use xlink:href="img/icons.svg#loader">
            </svg>
          </span>
        </div>
        <picture>
          <source srcset="img/pictures/jaw.webp" type="image/webp">
          <img class="image image-scale-down image-bottom-right" loading="lazy" src="img/pictures/jaw.png" alt="">
        </picture>
      </div>
      <div class="card-content relative">
        <p class="font-normal text-14 sm:text-16 lg:text-18 leading-4 opacity-70 mb-6">
          Уважаемый пациент! Информируем вас о том, что данная имплантационная схема включает в себя все необходимые манипуляции и материалы от установки импланта до фиксации постоянной коронки. В имплантационную схему не входят подготовительные манипуляции, такие как: синуслифтинг, костные и мягкотканные пластики. Цены, указанные в данной имплантационной схеме, действительны на момент составления плана и могут быть изменены в соответствии с прейскурантом, действующим на момент оказания услуги.
        </p>
        <h4 class="font-medium text-16 leading-1 mb-3">Выберите производителя</h4>
        <div class="flex items-center gap-3 overflow-auto sm:overflow-visible px-4 sm:px-0 -mx-4 sm:mx-0 mb-5 md:mb-8">
          <% for (var i = 0; i < 4; i++) { %>
          <button class="price__category <%= i == 0 ? 'filter-active' : '' %> btn btn-primary btn-md bg-grey bg-opacity-80 rounded-2 border border-solid border-grey border-opacity-0 min-w-max p-3" data-filter-category="category-<%= i %>" data-waved="dark">
            <picture>
              <source srcset="img/pictures/price-<%= i + 1 %>.webp" type="image/webp">
              <img class="block opacity-40 w-max duration-3" src="img/pictures/price-<%= i + 1 %>.png" alt="">
            </picture>
          </button>
          <% } %>
        </div>
        <div class="w-full max-w-[490px] mb-7 sm:mb-10">
          <% for (var i = 0; i < 4; i++) { %>
          <div class="price__card <%= i != 0 ? 'hidden' : '' %>" data-filter-card="category-<%= i %>">
            <div class="flex items-center mb-5">
              <div class="flex items-center gap-1 mr-2 sm:mr-3">
                <img class="icon text-20 sm:text-24" src="img/pictures/sw.svg" alt="">
                <img class="icon text-20 sm:text-24" src="img/pictures/iz.svg" alt="">
              </div>
              <h3 class="font-semibold text-16 leading-1">Импланты Alpha Bio</h3>
            </div>
            <div class="flex flex-col gap-3 mb-5">
              <div class="flex items-end justify-between">
                <span class="font-normal text-14 sm:text-16 leading-1 min-w-max">Имлантация</span>
                <span class="border-b border-dashed border-black border-opacity-40 w-full"></span>
                <b class="text-14 sm:text-16 leading-1 min-w-max">23 100 ₽</b>
              </div>
              <div class="flex items-end justify-between">
                <span class="font-normal text-14 sm:text-16 leading-1 min-w-max">Формирователь десны</span>
                <span class="border-b border-dashed border-black border-opacity-40 w-full"></span>
                <b class="text-14 sm:text-16 leading-1 min-w-max">3 300 ₽</b>
              </div>
              <div class="flex items-end justify-between">
                <span class="font-normal text-14 sm:text-16 leading-1 opacity-60 min-w-max">Провизорная коронка <br class="sm:hidden"> (срок от 1 месяца)</span>
                <span class="border-b border-dashed border-black border-opacity-40 w-full"></span>
                <b class="font-normal text-14 sm:text-16 leading-1 opacity-60 min-w-max">4-6 месяцев</b>
              </div>
              <div class="flex items-end justify-between">
                <span class="font-normal text-14 sm:text-16 leading-1 min-w-max">Формирователь десны</span>
                <span class="border-b border-dashed border-black border-opacity-40 w-full"></span>
                <b class="text-14 sm:text-16 leading-1 min-w-max">3 300 ₽</b>
              </div>
              <div class="font-normal text-14 sm:text-16 leading-1">Постоянная коронка (одна на выбор):</div>
              <div class="flex items-end justify-between">
                <span class="font-normal text-14 sm:text-16 leading-1 min-w-max">— Цельнокерамическая коронка «Эксклюзив»</span>
                <span class="border-b border-dashed border-black border-opacity-40 w-full"></span>
                <b class="text-14 sm:text-16 leading-1 min-w-max">52 800 ₽</b>
              </div>
            </div>
            <div class="font-semibold text-18 sm:text-20 leading-1">Итого: от 69 400 до 96 100 ₽</div>
          </div>
          <% } %>
        </div>
        <button class="btn btn-primary btn-lg btn-fill w-full xs:w-max" data-waved="light" data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-feedback.html">Записаться на консультацию</button>
      </div>
    </div>
  </div>
</section>

<!-- Гарантия -->

<% var warranty = [
  {
    delay: '',
    img: 'warranty-1',
    title: 'Пожизненная гарантия на импланты',
    text: 'Наши материалы на 100% биосовместимы с тканями организма'
  },
  {
    delay: 'xl:delay-2',
    img: 'warranty-2',
    title: 'Гарантия 2 года на установку имплантов',
    text: 'Переустановим имплант, если с ним произошли изменения'
  },
  {
    delay: 'xl:delay-4',
    img: 'warranty-3',
    title: 'Гарантия 2 года на коронку',
    text: 'Бесплатная замена коронки при ее повреждении'
  }
] %>

<section class="container overflow-hidden" id="warranty">
  <h2 class="font-bold text-34 sm:text-42 leading-2 mb-6 md:mb-10 duration-5 ease-in-out anim anim--up" data-anim="hidden">Даем гарантии</h2>
  <div class="mb-4 duration-5 ease-in-out anim anim--right" data-anim="hidden">
    <div class="card rounded-3 sm:rounded-6 p-4 sm:p-8" data-waved="dark">
      <h3 class="font-semibold text-20 sm:text-24 leading-2 mb-4">Стоимость одного импланта жевательного или переднего зуба</h3>
      <p class="font-normal text-16 leading-5 mb-5">
        Мы понимаем, что выбор имплантации — это важное решение, и мы готовы предоставить вам пожизненную гарантию. Материалы, которые мы используем, полностью совместимы с вашими тканями.
      </p>
      <p class="font-normal text-16 leading-5 mb-5">
        Мы также предлагаем 2-летнюю гарантию на установку имплантов, и если вам потребуется, мы переустановим их бесплатно.
      </p>
      <p class="font-normal text-16 leading-5">
        В случае повреждения коронки в течение 2 лет, мы также предоставим бесплатную замену. Мы гарантируем вашу уверенность в каждой детали нашей работы.
      </p>
    </div>
  </div>
  <div class="grid grid-cols-1 xl:grid-cols-3 gap-4 xl:gap-7">
    <% for (var i = 0; i < warranty.length; i++) { %>
    <div class="duration-5 <%= warranty[i].delay %> ease-in-out anim anim--up" data-anim="hidden">
      <div class="card rounded-3 sm:rounded-6 h-full p-2 xl:p-4" data-waved="dark">
        <div class="flex items-center">
          <div class="pack pack-sheet bg-grey rounded-3 w-full max-w-[80px] sm:max-w-[100px] mr-3 sm:mr-6">
            <div class="loader">
              <span class="loader-progress">
                <svg class="loader-icon icon">
                  <use xlink:href="img/icons.svg#loader">
                </svg>
              </span>
            </div>
            <picture>
              <source srcset="img/pictures/<%= warranty[i].img %>.webp" type="image/webp">
              <img class="image" loading="lazy" src="img/pictures/<%= warranty[i].img %>.jpg" alt="">
            </picture>
          </div>
          <div class="card-content">
            <h4 class="font-bold text-16 sm:text-18 leading-2 mb-1 sm:mb-2"><%= warranty[i].title %></h4>
            <p class="font-normal text-14 sm:text-16 leading-3"><%= warranty[i].text %></p>
          </div>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</section>

<!-- Результат -->

<section class="result container bg-white overflow-hidden" id="result">
  <h2 class="font-bold text-34 sm:text-42 leading-2 mb-6 md:mb-10 duration-5 ease-in-out anim anim--up" data-anim="hidden">Наши работы</h2>
  <div class="result-slider relative duration-5 ease-in-out anim anim--left" data-anim="hidden">
    <div class="swiper p-[15px] sm:p-0 -m-[15px] sm:m-0">
      <div class="swiper-wrapper">
        <% for (var i = 0; i < 4; i++) { %>
        <div class="swiper-slide h-auto">
          <div class="card rounded-3 sm:rounded-6 shadow-none p-3 lg:p-6">
            <div class="card-content md:flex-row md:items-center md:justify-between gap-3 lg:gap-6">
              <div class="pack pack-rect-lg xs:pack-rect-sm md:pack-rect-md flex-grow bg-grey rounded-s-3 md:rounded-s-6 rounded-e-3 md:rounded-e-none" data-medical>
                <div class="loader">
                  <span class="loader-progress">
                    <svg class="loader-icon icon">
                      <use xlink:href="img/icons.svg#loader">
                    </svg>
                  </span>
                </div>
                <picture>
                  <source srcset="img/pictures/result-before.webp" type="image/webp">
                  <img class="image blur-2xl" data-medical-image loading="lazy" src="img/pictures/result-before.jpg" alt="">
                </picture>
                <div class="flex flex-col items-center justify-center absolute inset-0 text-center text-white rounded-s-3 md:rounded-s-6 rounded-e-3 md:rounded-e-none p-4" data-medical-content>
                  <p class="font-semibold text-16 sm:text-20 lg:text-24 leading-2 mb-5 sm:mb-8">Эта фотография содержит <br> медицинский контент</p>
                  <button class="btn btn-white btn-md sm:btn-lg btn-contur text-14 sm:text-16" data-medical-button data-waved="light">Смотреть фото</button>
                </div>
                <div class="flex items-center justify-center absolute bottom-2 lg:bottom-6 left-2 lg:left-6 bg-white font-semibold text-center text-black text-16 lg:text-20 leading-1 rounded-3 lg:rounded-6 w-14 lg:w-24 h-14 lg:h-24" data-waved="dark">До</div>
              </div>
              <div class="pack pack-rect-lg xs:pack-rect-sm md:pack-rect-md flex-grow bg-grey rounded-s-3 md:rounded-s-none rounded-e-3 md:rounded-e-6">
                <div class="loader">
                  <span class="loader-progress">
                    <svg class="loader-icon icon">
                      <use xlink:href="img/icons.svg#loader">
                    </svg>
                  </span>
                </div>
                <picture>
                  <source srcset="img/pictures/result-after.webp" type="image/webp">
                  <img class="image" loading="lazy" src="img/pictures/result-after.jpg" alt="">
                </picture>
                <div class="flex items-center justify-center absolute bottom-2 lg:bottom-6 left-2 lg:left-6 bg-primary font-semibold text-center text-white text-16 lg:text-20 leading-1 rounded-3 lg:rounded-6 w-14 lg:w-24 h-14 lg:h-24" data-waved="light">После</div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
    <div class="swiper-pagination text-black mt-8"></div>
    <button class="swiper-button-prev btn btn-white btn-fill hover:bg-grey text-black hidden md:flex absolute -left-6 xl:-left-16 rounded-max shadow-md w-14 h-14" data-waved="dark">
      <svg class="icon">
        <use xlink:href="img/icons.svg#arrow-left">
      </svg>
    </button>
    <button class="swiper-button-next btn btn-white btn-fill hover:bg-grey text-black hidden md:flex absolute -right-6 xl:-right-16 rounded-max shadow-md w-14 h-14" data-waved="dark">
      <svg class="icon">
        <use xlink:href="img/icons.svg#arrow-right">
      </svg>
    </button>
  </div>
</section>

<!-- Этапы -->

<% var stages = [
  {
    img: 'stages-1',
    title: 'Консультация и обследование',
    text: 'Оценка состояния здоровья, 3D-фотопротокол, прицельные снимки. Вы получите полноценный план лечения с итоговой стоимостью'
  },
  {
    img: 'stages-2',
    title: 'Имплантация',
    text: 'Удаление несостоятельных зубов при необходимости, установка имплантов, снятие оттисков для изготовления коронки'
  },
  {
    img: 'stages-3',
    title: 'Формирование десны',
    text: 'Установка формирователя для подготовки десны к успешной установке коронки'
  },
  {
    img: 'stages-4',
    title: 'Установка абатмента',
    text: 'Обеспечивает устойчивое соединение импланта с зубной коронкой'
  },
  {
    img: 'stages-5',
    title: 'Установка коронки',
    text: 'Установка и фиксация постоянной коронки врачом-ортопедом. Дальнейшее наблюдение через 6 месяцев'
  }
] %>

<section class="container" id="stages">
  <h2 class="font-bold text-34 sm:text-42 leading-2 mb-6 md:mb-10 duration-5 ease-in-out anim anim--up" data-anim="hidden">Этапы</h2>
  <div class="flex flex-col gap-8">
    <% for (var i = 0; i < stages.length; i++) { %>
    <div class="duration-5 ease-in-out anim anim--up" data-anim="hidden">
      <div class="card rounded-3 sm:rounded-6 p-4" data-waved="dark">
        <div class="flex flex-col sm:flex-row sm:items-center gap-3 sm:gap-10">
          <div class="pack pack-box bg-grey rounded-3 w-full max-w-[120px]">
            <div class="loader">
              <span class="loader-progress">
                <svg class="loader-icon icon">
                  <use xlink:href="img/icons.svg#loader">
                </svg>
              </span>
            </div>
            <picture>
              <source srcset="img/pictures/<%= stages[i].img %>.webp" type="image/webp">
              <img class="image" loading="lazy" src="img/pictures/<%= stages[i].img %>.jpg" alt="">
            </picture>
          </div>
          <div class="card-content">
            <h3 class="font-semibold text-20 md:text-24 leading-1 mb-1 sm:mb-2"><%= stages[i].title %></h3>
            <p class="font-normal text-16 leading-3"><%= stages[i].text %></p>
          </div>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</section>

<!-- Возможности -->

<% var opportunities = [
  {
    delay: '',
    img: 'opportunities-1',
    title: 'Комфморт',
    text: 'Рентген не вставая с кресла. Наши кабинеты оборудованы рентгеновским оборудованием, которое позволяет получить диагностические изображения непосредственно во время вашего визита'
  },
  {
    delay: 'xl:delay-2',
    img: 'opportunities-2',
    title: 'Удобство',
    text: 'Временная коронка сразу после установки импланта. Позволяет получить временную замену зуба, пока окончательная коронка изготавливается в нашей зуботехнической лаборатории'
  },
  {
    delay: 'xl:delay-4',
    img: 'opportunities-3',
    title: 'Качество',
    text: 'Наличие полноценной зуботехнической лаборатории на базе клиники — важнейшее условие для качественного лечения, результат которого мы можем вам гарантировать'
  }
] %>

<section class="opportunities container container--xs bg-white" id="opportunities">
  <h2 class="font-bold text-34 sm:text-42 leading-2 mb-6 md:mb-10 duration-5 ease-in-out anim anim--up" data-anim="hidden">Наши возможности</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5 xl:gap-8">
    <% for (var i = 0; i < opportunities.length; i++) { %>
    <div class="sticky sm:static top-0 left-0 right-0 duration-5 <%= opportunities[i].delay %> ease-in-out anim anim--right" data-anim="hidden">
      <div class="card rounded-3 sm:rounded-6 border-none shadow-sm h-full p-2 xl:p-4" data-waved="dark">
        <div class="pack pack-rect-md bg-grey rounded-3 sm:rounded-6">
          <div class="loader">
            <span class="loader-progress">
              <svg class="loader-icon icon">
                <use xlink:href="img/icons.svg#loader">
              </svg>
            </span>
          </div>
          <picture>
            <source srcset="img/pictures/<%= opportunities[i].img %>.webp" type="image/webp">
            <img class="image image-rise" loading="lazy" src="img/pictures/<%= opportunities[i].img %>.jpg" alt="">
          </picture>
        </div>
        <div class="card-content py-4 xl:py-6 px-2 xl:px-4">
          <div class="flex items-center text-20 sm:text-24 mb-2">
            <svg class="icon text-primary mr-2">
              <use xlink:href="img/icons.svg#check">
            </svg>
            <h4 class="font-semibold leading-1"><%= opportunities[i].title %></h4>
          </div>
          <p class="font-medium text-16 leading-3"><%= opportunities[i].text %></p>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</section>

<!-- Консультация -->

<section class="consultation container relative xl:min-h-[710px]">
  <div class="consultation__bg hidden sm:block absolute inset-0 overflow-hidden">
    <div class="pack blur-lg w-full h-full">
      <div class="loader">
        <span class="loader-progress">
          <svg class="loader-icon icon">
            <use xlink:href="img/icons.svg#loader">
          </svg>
        </span>
      </div>
      <picture>
        <source srcset="img/pictures/room.webp" type="image/webp">
        <img class="image" loading="lazy" src="img/pictures/room.jpg" alt="">
      </picture>
    </div>
    <div class="absolute inset-0 bg-white bg-opacity-30"></div>
  </div>
  <picture>
    <source srcset="img/pictures/doctor.webp" type="image/webp">
    <img class="hidden xl:block absolute bottom-0 left-[60%] max-[1600px]:left-[50%] w-full max-w-[600px] duration-5 ease-in-out anim anim--fade" data-anim="hidden" src="img/pictures/doctor.png" alt="">
  </picture>
  <div class="relative w-full xl:max-w-[730px]">
    <h2 class="font-bold text-primary text-34 sm:text-42 leading-2 mb-6 md:mb-10 duration-5 ease-in-out anim anim--right" data-anim="hidden">
      Запишитесь к нам на консультацию <span class="hidden sm:inline">стоматолога-имплантолога</span>
    </h2>
    <div class="duration-5 ease-in-out anim anim--right" data-anim="hidden">
      <div class="card rounded-3 sm:rounded-6 p-5 md:p-10">
        <div class="card-content">
          <h3 class="font-semibold text-24 leading-2 mb-5">
            Получите консультацию <br class="sm:hidden"> <span class="text-primary">в течение 15 минут</span>
          </h3>
          <p class="font-normal text-16 leading-3 mb-8">
            Не откладывайте важные вопросы о здоровье зубов — обратитесь к нам сегодня и получите быструю консультацию от наших экспертов.
          </p>
          <form class="form xs:flex-row xs:items-center xs:justify-between gap-6 xs:gap-4 w-full max-w-[600px] xl:max-w-full mb-4" data-form="submit">
            <input type="hidden" value="Консультация в течение 15 минут" name="theme">
            <label class="form-label xl:flex-grow-[3] w-full xl:w-auto" data-label="input">
              <div class="form-wrapper">
                <div class="input-cover">
                  <input class="input input-gray input-lg" data-input="tel" type="tel" placeholder="+7 (_ _ _) _ _ _ - _ _ - _ _" name="tel">
                </div>
                <span class="form-error" data-error>Пожалуйста, введите ваш номер!</span>
              </div>
            </label>
            <button class="btn btn-primary btn-lg btn-fill xl:flex-grow" data-waved="light" type="submit">Отправить</button>
          </form>
          <div class="font-normal text-12 sm:text-14 leading-3 cursor-pointer xs:w-max" data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-politics.html">
            <span class="opacity-60">Отправляя форму, вы даете свое <br> согласие</span> <span class="underline underline-offset-4">на обработку персональных данных</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= _.template(require('./includes/footer.html').default)({data, social}) %>