// Шапка документа
.header {
  transform: translateY(var(--top));

  @screen xl {
    transform: none;
  }
}

// Меню
.menu {
  &[data-sidebar="close"] {
    @apply invisible opacity-0;
  }

  &[data-sidebar="close"] &__content {
    transform: translateX(-100%);

    @apply invisible opacity-0;
  }

  &[data-sidebar="close"] &__head {
    transform: translateY(-80px);
  }

  &[data-sidebar="close"] &__nav {
    transform: translateX(-220px);

    @apply invisible opacity-0;
  }

  &[data-sidebar="close"] &__footer {
    transform: translateY(-50px);

    @apply invisible opacity-0;
  }

  &[data-sidebar="open"] {
    @apply visible opacity-100;
  }

  &[data-sidebar="open"] &__content {
    transform: translateX(0);

    @apply visible opacity-100;
  }

  &[data-sidebar="open"] &__head {
    transform: translateY(0);
  }

  &[data-sidebar="open"] &__nav {
    transform: translateX(0);

    @apply visible opacity-100;
  }

  &[data-sidebar="open"] &__footer {
    transform: translateY(0);

    @apply visible opacity-100;
  }

  &__content {
    box-shadow: 0 0 0 100vw theme("colors.black.DEFAULT / 50%");
  }
}

// Главный блок
.main {
  &-images {
    &-slide:not(.swiper-slide-active) {
      opacity: 0 !important;
    }
  }

  &__image {
    animation: progress 10s linear infinite;
  }
}

// Квиз
.quiz {
  &-slider {
    &[data-quiz="stop"] .swiper-button-next {
      @apply opacity-50 pointer-events-none;
    }

    &[data-quiz-end] &-btns {
      @apply hidden;
    }

    &[data-quiz-end] &-submit {
      @apply flex;
    }
  }

  &__switch:checked+&__text {
    @apply font-semibold;
  }
}

// Цены
.price {
  background-image: linear-gradient(0deg, rgba(195, 223, 255, 0.40) 0%, rgba(195, 223, 255, 0.40) 100%);
}

// Результат
.result {
  background-image: linear-gradient(0deg, rgba(195, 223, 255, 0.15) 0%, rgba(195, 223, 255, 0.15) 100%);
}

// Возможности
.opportunities {
  background-image: linear-gradient(0deg, rgba(196, 223, 255, 0.15), rgba(196, 223, 255, 0.15));
}

// Консультация
.consultation {
  &__bg {
    &::after {
      background-image: linear-gradient(180deg, #F6FAFF 0%, rgba(246, 250, 255, 0.00) 100%);

      @apply content-auto absolute inset-0;
    }
  }
}

// Контакты
.contacts {
  &__card {
    background: linear-gradient(135deg, #FFF 34.90%, rgba(255, 255, 255, 0.00) 100%);
  }
}